# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Logs y archivos temporales
*.log
*.tmp
*.bak

# Entornos virtuales
venv/
.env/
.venv/

# Archivos de entorno
.env

# Archivos de datos o externos que no deben ir al repo
sources/

# IDEs y editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp

# MacOS / Windows
.DS_Store
Thumbs.db

# Docker
*.pid
